.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 50%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 30%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)
.bg-slyde
  background-image: url(../assets/curso/temas/2/bg-slyde.svg)
  background-repeat: no-repeat
  background-size: cover
  background-position: center
.card-tema
  position: relative
  display: flex
  background-color: #d3ede5
  img.card-1
    position: absolute
    width: 210px
    top: 0
    left: 0
    transform: translateY(-10%)
table
  table-layout: auto
.slyder-a__tipo-b .slyder-a__bullets
  @media (max-width: $bp-max-md)
    transform: scale(.5)
.slyder-a__btn--sigt, .slyder-a__btn--atrs
  @media (max-width: $bp-max-md)
    width: 20px
    height: 20px
    background-size: 10px 10px
